* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

.header {
    background-color: #f7f8fa;
    height: 30px;
}

.header-left {
    float: left;
    padding: 5px 0;
}

.header-right {
    float: right;
    padding: 5px 0;
    text-align: right;
}

.icon-time{
    float: right;
    padding-left: 15px;
}

.header-main {
    height: 96px;
}

.logo {
    padding: 12px 0;
    float: left;
}

.search {
    float: left;
    position: relative;
    top: 35px;
}

.search input {
    width: 350px;
    height: 32px;
    padding: 0 10px;
    margin-left: 90px;
    border: 2px solid springgreen;
    border-radius: 5px;
    
}

.search button {
    height: 34px;
    width: 42px;
    background-color: springgreen;
    border: none;
}

.cart {
    position: relative;
    left: 120px;
    top: 45px;
}

.cart ul li {
    list-style-type: none;
    display: inline-block;
}

.cart a {
    text-decoration: none;
    margin-left: 15px;
}

.cart-title {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.login {
    text-transform: uppercase;
    color: #666666d9;
}

.nav-header {
    height: 47px;
    background-color: #191919;
}

.nav-top-link {
    padding: 15px 0;
}

.nav-top-link a:hover {
    color: #97c351;
    transition: 0.1s;
}

.nav-top-link ul li {
    list-style-type: none;
    display: inline-block;
}

.nav-top-link a {
    margin-left: 25px;
    padding-right: 20px;
    color: #ffffffcc;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

.img-inner {
    overflow: unset;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.img-inner img {
    height: 792px;
    width: 100%;
    display: inline-block;
    max-width: 100%;
}

.section-content {
    height: 228px;
    margin-bottom: 30px;
}


.product-category {
    width: 25%;
    float: left;
}

.box-text-inner {
    background-color: rgba(255,255,255,0.95);
    max-width: 85%;
    margin: -15% auto 0;
    opacity: 1;
    text-align: center;
}

.content {
    height: 1870px;
    text-align: center;
}

.khoangcach .product-category {
   margin-bottom: 50px;
}

.section-new-product {
    margin-bottom: 12px;
}

.new-product {
    margin-bottom: 30px;
}

.product-category .image {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    margin-bottom: 6px;
}

.name-product {
    margin-bottom: 5px;
}

.name-product a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.price b {
    color: #97c351;
    font-weight: 600;
    font-size: 20px;
}

.button-category {
    border: 2px solid #99ca58;
    padding: 12px;
    text-align: center;
}

.button-section {
    margin-bottom: 30px;
    position: relative;
    right: 430px;
}  

.button-section a {
    text-decoration: none;
    color: #99ca58;
    font-weight: 600;
}

.col-left {
    width: 50%;
    height: 314px;
    padding: 0 12px;
    float: left;
}


.col-right {
    width: 50%;
    height: 314px;
    padding: 0 12px;
    float: left;
}

.banner-column {
    display: flex;
    margin-bottom: 45px;
}

.nav-center {
    margin-bottom: 30px;
}

.nav-center ul li {
    display: inline-block;
    list-style-type: none;
}

.nav-center a {
    text-decoration: none;
    margin-left: 25px;
    font-weight: 600;
    color: #666666d9;
}

.col-post-item {
    width: 33%;
    float: left;
}

.text-center {
    padding: 10px 10px 20px;
}

.large-post-title {
    font-size: 19px;
}

.from-blog {
    margin: 2px 0;
}

.content-relative {
    height: 95px;
    background-color: rgb(153, 202, 88);
}

.padding-medium {
    width: 33%;
    float: left;

}

.padding-medium img {
    float: left;
    padding: 16px 0;
}

.icon-box {
    padding: 26px 0;
    position: relative;
    left: 10px;
}

.icon-box h3 {
    margin-bottom: 8px;
    color: #ffffff;
}

.footer {
    height: 306px;
    background-color: rgb(231, 229, 229);
}

.footer-1 {
    padding: 20px 0;
    width: 33%;
    float: left;
}


.footer-1 .widget-title {
    color: #97c351;
    font-weight: 600;
    font-size: 19px;
}

.text-widget {
    width: 262px;
}

.text-widget ul li {
    margin: 0 0 9px 20px;
}

.icon-footer {
    margin-bottom: 20px;
    margin-top: 20px;
}

.icon-footer i {
    font-size: 24px;
    margin-left: 8px;
}

.text-widget a {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.text-widget-menu a:hover {
    color: #97c351;
}

.text-widget p {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    width: 292px;
}

.text-widget-menu {

}

.text-widget-menu ul li {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text-widget-menu a {
    
}

.danhsach {
    text-align: center;
}

.noidung-ds {
    padding: 15px 0;
}

.tieude {
    font-size: 36px;
    margin-bottom: 30px;
}

.content-sanpham {
    height: 800px;
}
.account {
    height: 300px;
    padding: 30px ;
}
.taikhoan {
    font-weight: 600;
}

.matkhau {
    font-weight: 600;
    margin-bottom: 12px;
    
}

.tt-account h3 {
    margin-bottom: 12px;
    font-size: 26px;
}

.user-name {
    width: 1105px;
    height: 28px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid rgb(184, 182, 182);
}

.password {
    width: 1105px;
    height: 28px;
    margin-bottom: 12px;
    margin-top: 5px;
    border: 1px solid rgb(184, 182, 182);
}


.woocommerce-button {
    background-color: #000000;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 15px 0 0;
}

.check-box {
    font-weight: 600;
}

.input-check-box {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
}

.lost-password {
    margin: 10px 0 0 0 ;
}

.lost-password a {
    text-decoration: none;
    color: #334862;
    font-weight: 600;
}